h1 {color: darkgreen;}
h2 {color:dimgray}
body{
    background-color:aquamarine;
}
a {
    color:lightblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
nav {
    background-color: green;
    width: 25%;
}
