h1 {
    color:black
}
body {
    text-align: center;
}
html {
    background-color: rgb(255, 255, 255)
}
h2 {
    color: black
}
h3 {
    color:black
}
h4 {
    color:white
}
.img50 {
    width:50%;
}
h1 {
    font-size: 300%;
}
h5 {
    font-size: 400%;
}
header {
    background-color: grey;
    height: 60px;
    display:flex;
    justify-content: space-around;
    padding-left:25%;
    padding-right:25%;
    padding-top:10px;
}
.link {
    font-size: 40px;
}
